<% provide(:title, 'GGCC News Stories') %>
<h1>GGCC News Stories</h1>
 <%= link_to "Add New Story...", new_newsitem_path, class: "btn btn-large btn-primary" %>
<%= will_paginate %>

<ul class="newsstories">
  <%= render @newsitems %>
</ul>

<%= will_paginate %>